<!--<p>{{product1.name}}</p>-->
<div class="container">
  <div class="row">
    <h1>Danh sách sản phẩm</h1>
    <table class="table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <td scope="col">id</td>
        <td scope="col">code</td>
        <td scope="col">name</td>
        <td scope="col">date</td>
        <td scope="col">Action</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.id}}</td>
        <td>{{p.code}}</td>
        <td>{{p.name}}</td>
        <td>{{p.createDate.getDay() + "/" + p.createDate.getMonth()
        + "/" + p.createDate.getFullYear()}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger" [routerLink]="'/edit/'+p.id">Edit</button>
          <button type="button" class="btn btn-outline-warning" (click)="delete(p.id)">Delete</button>
        </td>
        <td>
        </td>
      </tr>
      </tbody>

    </table>
    <a [routerLink]="'/create'" >Tao moi</a>
  </div>
</div>

