<form (ngSubmit)="createProduct()">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" [(ngModel)]="product.name"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input type="text" name="code" [(ngModel)]="product.code"></td>
    </tr>
    <tr>
      <td>createDate</td>
      <td><input type="date" name="createDate" [(ngModel)]="product.createDate" ></td>
    </tr>
    <tr>
      <td>description</td>
      <td><input type="text" name="des" [(ngModel)]="product.description"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="tao moi"></td>
    </tr>
  </table>
</form>
